/images
<div class="services__content">
            <div class="services__content__item">
              <p class="ul__subtittle icon-cog">Настройка</p>
              <ul class="services__list">
                <li class="">Платных парковок</li>
                <li class="">Автоматических ворот</li>
                <li class="">Электрики/освещения</li>
                <li class="">Локальных сетей для офиса</li>
                <li class="">Учета рабочего времени</li>
              </ul>
            </div>
            <div class="services__content__item">
              <p class="ul__subtittle icon-task">Установка</p>
              <ul class="services__list">
                <li class="">Видеонаблюдений</li>
                <li class="">Систем доступа</li>
                <li class="">Домофонов</li>
                <li class="">Сигнализаций</li>
                <li class="">Турникетов</li>
                <li class="">Шлагбаумов</li>
                <li class="">Наружной рекламы</li>
              </ul>
            </div>
            <div class="services__content__item">
              <p class="ul__subtittle icon-award">Дополнительные услуги</p>
              <ul class="services__list">
                <li class="">Озвучивание помещений</li>
                <li class="">
                  Усиление сотовой связи/мобильного интернета
                </li>
                <li class="">
                  Оформление проектной документации
                </li>
              </ul>
            </div>
          </div>